<h2>{{ 'COMITTEE.TITLE' | translate }}</h2>

<div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="card-block">
    <h4 class="card-title">Juan Pablo Sandoval</h4>
    <h6 class="card-subtitle text-muted">Bolivia</h6>
  </div>
  <div class="card-block text-center">
    <img src="/speakers/juampi.png" alt="Card image">
  </div>
  <div class="card-block">
    <p class="card-text">Ingeniero de sistemas graduado de la Universidad Mayor de San Simón que realiza sus estudios de postgrado en la Universidad de Chile en el programa de Doctorado en Ciencias de la Computación; tambén es miembro del laboratorio de investigación Pleiad. Juan Pablo Sandoval es contribuidor activo de Pharo Smalltalk, actualmente se encuentra participando en proyectos como Versionner y Hydra. También trabajo en el diseño y desarrollo de aplicaciones para entornos distribuidos incluyendo web y mobile.</p>
  </div>
</div>

<div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="card-block">
    <h4 class="card-title">Juan Pablo Sandoval</h4>
    <h6 class="card-subtitle text-muted">Bolivia</h6>
  </div>
  <div class="card-block text-center">
    <img src="/speakers/juampi.png" alt="Card image">
  </div>
  <div class="card-block">
    <p class="card-text">Ingeniero de sistemas graduado de la Universidad Mayor de San Simón que realiza sus estudios de postgrado en la Universidad de Chile en el programa de Doctorado en Ciencias de la Computación; tambén es miembro del laboratorio de investigación Pleiad. Juan Pablo Sandoval es contribuidor activo de Pharo Smalltalk, actualmente se encuentra participando en proyectos como Versionner y Hydra. También trabajo en el diseño y desarrollo de aplicaciones para entornos distribuidos incluyendo web y mobile.</p>
  </div>
</div>