<h2>{{"NAVBAR.PROGRAM" | translate}}</h2>

<h5>{{"PROGRAM.TALKS_KEYNOTES" | translate}}</h5>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Uso de visualizaciones word-sized para analizar datos de Eye-Tracking</h4>
    <h6 class="card-subtitle text-muted">Yasett Acurana</h6>
  </div>
  <div class="card-block">
    <p class="card-text">El eye-tracking se encarga de estudiar los movimientos visuales que realizamos al mirar un determinado elemento.
Para transmitir resultados de estudios de eye-tracking, típicamente necesitamos ordenarlos y resumirlos. Plasmar estos datos en tablas y gráficos impresos es muy útil, pero éstos se ven limitados por el espacio y requieren saltar entre el párrafo y los gráficos/tablas repetidas veces.
Como alternativa, las visualizaciones word-sized son versiones pequeñas de otras visualizaciones ya establecidas, que facilitan la integración con los párrafos y reducen el impacto de la limitación de espacio. En la charla, exploraremos las visualizaciones word-sized para analizar datos de un estudio de eye-tracking.</p>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Análisis de Programas</h4>
    <h6 class="card-subtitle text-muted">Jocelyn Simmonds</h6>
  </div>
  <div class="card-block">
    <p class="card-text">El análisis formal de programas busca descubrir y/o inferir hechos acerca de programas, permitiendo optimizar, transformar y verificarlos. El objetivo es construir herramientas que ayuden a desarrolladores entender sus programas y detectar errores. Existen tres familias de técnicas de análisis: 1) estático, donde se analizan los programas sin ejecutarlos, en tiempo de compilación, 2) dinámico, donde se analizan trazas de ejecución mientras estos corren, y 3) híbrido, que combinan aspectos estáticos y dinámicos. Por un tema de escalabilidad, el análisis estático es conservadores: un estado abstracto representa uno o más estados concretos. En cambio, el análisis dinámico es mas preciso, dado que se conoce el estado concreto del programa. En esta charla, daré una visión general de análisis formal de programas, y presentare algunos desafíos actuales.</p>
  </div>
</div>

<h5>{{"PROGRAM.TUTORIALS" | translate}}</h5>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Programación Estadística</h4>
    <h6 class="card-subtitle text-muted">Jocelyn Simmonds y Yasett Acurana</h6>
  </div>
  <div class="card-block">
    <p class="card-text">Hoy en día, es necesario manejar herramientas para procesar y analizar datos. R es una de estas herramientas, que rápidamente se ha convertido en la lengua franca de la estadística, permitiendo escribir programas que leen, manipulan y analizan datos. En este tutorial, veremos los conceptos básicos de R. Empezaremos con variables y operaciones básicas, pasando a estructuras de datos tales como vectores, matrices, data frames y listas. También exploraremos las capacidades gráficas de R.</p>
  </div>
</div>

<h5>{{"PROGRAM.SHOW_PROJECT" | translate}}</h5>
<div class="card">
  <div class="card-block">
    <p class="card-text">Cuando las convocatorias finalizen estos seran publicados.</p>
  </div>
</div>


<h5>{{"PROGRAM.DISCUSSION_PANELS" | translate}}</h5>
<div class="card">
  <div class="card-block">
    <p class="card-text">Cuando las convocatorias finalizen estos seran publicados.</p>
  </div>
</div>
