<h2>{{"NAVBAR.PROGRAM" | translate}}</h2>

<h5>{{"PROGRAM.TALKS_KEYNOTES" | translate}}</h5>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{"PROGRAM.KEYNOTE_1_TITLE" | translate}}</h4>
    <h6 class="card-subtitle text-muted">Yasett Acurana</h6>
  </div>
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.KEYNOTE_1_DESCRIPTION" | translate}}</p>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{"PROGRAM.KEYNOTE_2_TITLE" | translate}}</h4>
    <h6 class="card-subtitle text-muted">Jocelyn Simmonds</h6>
  </div>
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.KEYNOTE_2_DESCRIPTION" | translate}}</p>
  </div>
</div>

<h5>{{"PROGRAM.TUTORIALS" | translate}}</h5>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Programación Estadística</h4>
    <h6 class="card-subtitle text-muted">Jocelyn Simmonds y Yasett Acurana</h6>
  </div>
  <div class="card-block">
    <p class="card-text">Hoy en día, es necesario manejar herramientas para procesar y analizar datos. R es una de estas herramientas, que rápidamente se ha convertido en la lengua franca de la estadística, permitiendo escribir programas que leen, manipulan y analizan datos. En este tutorial, veremos los conceptos básicos de R. Empezaremos con variables y operaciones básicas, pasando a estructuras de datos tales como vectores, matrices, data frames y listas. También exploraremos las capacidades gráficas de R.</p>
  </div>
</div>

<h5>{{"PROGRAM.SHOW_PROJECT" | translate}}</h5>
<div class="card">
  <div class="card-block">
    <p class="card-text">Cuando las convocatorias finalizen estos seran publicados.</p>
  </div>
</div>


<h5>{{"PROGRAM.DISCUSSION_PANELS" | translate}}</h5>
<div class="card">
  <div class="card-block">
    <p class="card-text">Cuando las convocatorias finalizen estos seran publicados.</p>
  </div>
</div>
