<h2>{{"NAVBAR.PROGRAM" | translate}}</h2>

<h5>{{"PROGRAM.TALKS_KEYNOTES" | translate}}</h5>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{"PROGRAM.KEYNOTE_1_TITLE" | translate}}</h4>
    <h6 class="card-subtitle text-muted">Yasett Acurana</h6>
  </div>
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.KEYNOTE_1_DESCRIPTION" | translate}}</p>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{"PROGRAM.KEYNOTE_2_TITLE" | translate}}</h4>
    <h6 class="card-subtitle text-muted">Jocelyn Simmonds</h6>
  </div>
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.KEYNOTE_2_DESCRIPTION" | translate}}</p>
  </div>
</div>

<h5>{{"PROGRAM.TUTORIALS" | translate}}</h5>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{"PROGRAM.TUTORIAL_1_TITLE" | translate}}</h4>
    <h6 class="card-subtitle text-muted">Jocelyn Simmonds, Yasett Acurana</h6>
  </div>
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.TUTORIAL_1_DESCRIPTION" | translate}}</p>
  </div>
</div>

<h5>{{"PROGRAM.SHOW_PROJECT" | translate}}</h5>
<div class="card">
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.WIP" | translate}}</p>
  </div>
</div>


<h5>{{"PROGRAM.DISCUSSION_PANELS" | translate}}</h5>
<div class="card">
  <div class="card-block">
    <p class="card-text">{{"PROGRAM.WIP" | translate}}</p>
  </div>
</div>
