<h2>{{"NAVBAR.PROGRAM" | translate}}</h2>

<div class="text-justify">
    <h5>{{"PROGRAM.TALKS_KEYNOTES" | translate}}</h5>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_1_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Yasett Acurana</h6>
    </div>
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.KEYNOTE_1_DESCRIPTION" | translate}}</p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_2_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Jocelyn Simmonds</h6>
    </div>
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.KEYNOTE_2_DESCRIPTION" | translate}}</p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_3_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Vanessa Peña Araya</h6>
    </div>
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.KEYNOTE_3_DESCRIPTION" | translate}}</p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_4_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Juraj Kubelka</h6>
    </div>
    <div class="card-block">
        <p class="card-text" [innerHTML]="'PROGRAM.KEYNOTE_4_DESCRIPTION' | translate"></p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_5_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Alejandro Infante</h6>
    </div>
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.KEYNOTE_5_DESCRIPTION" | translate}}</p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_6_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Juan Pablo Sandoval Alcocer</h6>
    </div>
    <div class="card-block">
        <p class="card-text" [innerHTML]="'PROGRAM.KEYNOTE_6_DESCRIPTION' | translate"></p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.KEYNOTE_7_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Juan Pablo Sandoval Alcocer</h6>
    </div>
    <div class="card-block">
        <p class="card-text" [innerHTML]="'PROGRAM.KEYNOTE_7_DESCRIPTION' | translate"></p>
    </div>
    </div>

    <h5>{{"PROGRAM.TUTORIALS" | translate}}</h5>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.TUTORIAL_1_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Jocelyn Simmonds, Yasett Acurana</h6>
    </div>
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.TUTORIAL_1_DESCRIPTION" | translate}}</p>
    </div>
    </div>

    <div class="card">
    <div class="card-block">
        <h4 class="card-title">{{"PROGRAM.TUTORIAL_2_TITLE" | translate}}</h4>
        <h6 class="card-subtitle text-muted">Vanessa Peña Araya, Juan Pablo Sandoval Alcocer</h6>
    </div>
    <div class="card-block">
        <p class="card-text" [innerHTML]="'PROGRAM.TUTORIAL_2_DESCRIPTION' | translate"></p>
    </div>
    </div>

    <h5>{{"PROGRAM.SHOW_PROJECT" | translate}}</h5>
    <div class="card">
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.WIP" | translate}}</p>
    </div>
    </div>


    <h5>{{"PROGRAM.DISCUSSION_PANELS" | translate}}</h5>
    <div class="card">
    <div class="card-block">
        <p class="card-text">{{"PROGRAM.WIP" | translate}}</p>
    </div>
    </div>
</div>
