<h2>{{'SUBMISSION.TITLE' | translate}}</h2>

<div class="text-justify">
    <h5>{{'SUBMISSION.GOAL_AND_SCOPE' | translate}}</h5>
    <p>{{'SUBMISSION.GOAL_AND_SCOPE_DESCRIPTION' | translate}}</p>

    <h5>{{'SUBMISSION.TALKS' | translate}}</h5>
    <p [innerHTML]="'SUBMISSION.TALKS_DESCRIPTION' | translate"></p>

    <h5>{{'SUBMISSION.SHOW_PROJECT' | translate}}</h5>
    <p [innerHTML]="'SUBMISSION.SHOW_PROJECT_DESCRIPTION' | translate"></p>

    <h5>{{'SUBMISSION.PANELS' | translate}}</h5>
    <p [innerHTML]="'SUBMISSION.PANELS_0' | translate"></p>
    <p [innerHTML]="'SUBMISSION.PANELS_1' | translate"></p>
    <ul>
        <li [innerHTML]="'SUBMISSION.PANELS_2' | translate"></li>
        <li [innerHTML]="'SUBMISSION.PANELS_3' | translate"></li>
    </ul>

    <h5>{{'SUBMISSION.IMPORTANT_DATES' | translate}}</h5>
    <ul>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_1' | translate"></li>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_2' | translate"></li>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_3' | translate"></li>
        <li [innerHTML]="'SUBMISSION.IMPORTANT_DATES_4' | translate"></li>
    </ul>
</div>
