<h2>{{"REGISTRATION.TITLE" | translate}}</h2>
<h5>{{"REGISTRATION.PREREQUISITES" | translate}}</h5>
<p [innerHTML]="'REGISTRATION.PREREQUISITES_CONTENT' | translate"></p>

<h5>{{"REGISTRATION.TUTORIALS" | translate}}</h5>
<p [innerHTML]="'REGISTRATION.TUTORIALS_CONTENT' | translate"></p>

<h5>{{"REGISTRATION.TALKS" | translate}}</h5>
<p [innerHTML]="'REGISTRATION.TALKS_CONTENT' | translate"></p>

<h5>{{"REGISTRATION.SHOW_PROJECT" | translate}}</h5>
<p [innerHTML]="'REGISTRATION.SHOW_PROJECT_CONTENT' | translate"></p>

<h5>{{"REGISTRATION.PANELS" | translate}}</h5>
<p [innerHTML]="'REGISTRATION.PANELS_CONTENT' | translate"></p>

<h5>{{"REGISTRATION.PRICES" | translate}}</h5>
<p [innerHTML]="'REGISTRATION.PRICES_CONTENT' | translate"></p>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>{{"REGISTRATION.PRICES_SHEET.STUDENT" | translate}}</th>
      <th>{{"REGISTRATION.PRICES_SHEET.PROFESIONAL" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{"REGISTRATION.PRICES_SHEET.PRICE_1" | translate}}</td>
      <td>70 Bs</td>
      <td>100 Bs</td>
    </tr>
    <tr>
      <td>{{"REGISTRATION.PRICES_SHEET.PRICE_2" | translate}}</td>
      <td>70 Bs</td>
      <td>100 Bs</td>
    </tr>
    <tr>
      <td>{{"REGISTRATION.PRICES_SHEET.PRICE_3" | translate}}</td>
      <td>{{"REGISTRATION.PRICES_SHEET.FREE" | translate}}</td>
      <td>{{"REGISTRATION.PRICES_SHEET.FREE" | translate}}</td>
    </tr>
    <tr>
      <td>{{"REGISTRATION.PRICES_SHEET.PRICE_4" | translate}}</td>
      <td>{{"REGISTRATION.PRICES_SHEET.FREE" | translate}}</td>
      <td>{{"REGISTRATION.PRICES_SHEET.FREE" | translate}}</td>
    </tr>
  </tbody>
</table>

<p>{{"REGISTRATION.QUESTIONS" | translate}}</p>